
.main{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;

    .profile{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
        padding: 2em;


        .profile-card{
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            -webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.3); 
            box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.3);
            border-radius: 5px;
            padding: 1rem;

            .header{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 1rem 0;

                .left{
                    flex:2;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: .5rem;

                    p{
                        color: gray;
                        font-style: italic;
                    }
                }

                .right{
                    flex:1;
                    display:flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    gap:.5rem;

                    .btn{
                        background: none;
                        border: none;
                        padding: .2rem 1rem;
                        border-radius: 5px;

                        transition: all 300ms ease-in-out;

                        &:hover{
                            cursor: pointer;
                            filter: brightness(1.2);
                        }
                    }

                    .btn-edit{
                        background-color: rgb(59, 206, 59);
                        color: #fff;
                        font-size: 1rem;
                    }

                    .btn-delete{
                        border: 1px solid rgb(250, 45, 45);
                        color: rgb(250, 45, 45);
                        font-size: 1rem;
                    }
                }
            }
    

            .body{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .card-container{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    gap:.5rem;

                    .card{
                        position: relative;
                        flex: 1 1 200px;
                        height: 100px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        padding: .5rem;

                        background-color: transparent;
                        color: gray;
                        border-radius: 5px;

                        .content{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            gap: .5rem;

                            .left{
                                font-size:1.5rem;
                            }
                            .right{
                                flex:2;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: center;
                                line-height: 110%;
                                
                                h2{
                                    color: rgb(42, 42, 42);
                                    font-size: 1rem;
                                }
    
                                p{
                                    color: gray;
                                    font-size: .8rem;
                                }
                            }
                        }

                        .action{
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: .5rem;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            gap: .3rem;

                            .icon{
                                font-size: 1.2rem;
                                cursor: pointer;
                            }

                            p{
                                cursor: pointer;
                                &:hover{
                                    text-decoration: underline;
                                    text-underline-offset: 2px;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}