.datatable{
    height: 600px;
    padding: 20px;
    
    .datatableTitle{
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
        .link{
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            border-radius: 5px;
            padding: 5px;
        }
    }
    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;

        &.Approve{
            background-color: rgba(0, 128, 0, 0.164);
            color: green;
        }
        &.Denied{
            background-color:rgba(255, 0, 0, 0.164);
            color: crimson;
        }
        &.Pending{
            background-color:rgba(218, 165, 32, 0.164);
            color: goldenrod;
        }
    }
    .cellAction{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        .viewButton{
            padding: 2px 5x;
            border-radius: 5px;
            color: blue;
            border: 1px dotted rgba(0, 0, 255, 0.267);
            cursor: pointer;
        }
        .deleteButton{
            padding: 2px 5x;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, 0.479);
            cursor: pointer;
        }
    }
}