//prototype
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Titillium Web", sans-serif;
}

html, body{
    width: 100%;
    min-height: 100%;
}

.app.dark{
    background-color: #202020;
    color:rgb(255, 255, 255);
    color-scheme: dark;

    button{
        color:rgb(255, 255, 255)
    }

    .chartGrid{
        stroke: rgba(255, 255, 255, 0.486);
    }

    .table{
        background-color: #111;
        color: #999;
        .tableCell{
            color: rgb(255, 255, 255);
        }
    }
    .navbar{
        color: #999;
        border-color: #333;
        .search{
            border-color: gray;
        }
    }
    .sidebar{
        background-color: #111;
        border-color: #333;

        hr{
            border-color: #333;
        }
        ul{
            
            li{
               span{
                color: rgb(207, 207, 207);
               }
                &:hover{
                    background-color: #333;
                }
            }
        }
    }
    
    .datatable{
        .datagrid{
            color: rgb(255, 246, 246);
            border: none;

            .viewButton,
            .deleteButton,.cellWithStatus{
                color: rgb(255, 255, 255);
                border: none;
            }
            .viewButton{
                background-color: rgba(0, 195, 255, 0.267);
                padding: 5px;
            }
            .deleteButton{
                background-color: rgba(255, 17, 0, 0.267);
                padding: 5px;
            }
            .cellWithStatus{
                padding: 5px;
                border-radius: 5px;

                &.Completed{
                    background-color: rgba(0, 128, 0, 0.897);
                    color: green;
                }
                &.Incomplete{
                    background-color:rgba(255, 0, 0, 0.897);
                    color: crimson;
                }
            }

            
        }
    }
    
    .input{
        background-color: transparent;
    }

    .login-container{
        background-image: none;
        background-color: #202020;

        .login{
            box-shadow:  12px 12px 24px #ababab2b,
             -12px -12px 24px #ffffff18;

            img{
                box-shadow:   5px 5px 10px #ababab2b,
                -5px -5px 10px #ffffff18;
            }

            form{
                button{
                    &:hover{
                        background-color: transparent;
                        color: #EE4681;
                        box-shadow: none;
                        border: 1px solid #EE4681;
                    }
                }
            }
        }
    }

    .stats-range{
        padding: 20px;  

        select {
            font-size: 1rem;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: transparent;
            color: #ffff;
        
            option {
                background-color: gray;
                color: #fff;
                
                &:hover {
                    background-color: #000;
                    color: #000;
                }
            }
            
        }

    }

    .main{
        .profile{
            .profile-card{
                .body{
                    .card-container{
                        .card{
                            background-color: rgb(42, 42, 42);
                            color: #fff;

                            h2{
                                color: #fff;
                            }
                            .content{
                                .card-value{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .update-form-container{
                .input-container{
                    input[type=text], input[type=password], input[type=date], select{
                        border-bottom: 1px solid #fff;
                        color: #fff;
                    }
                    select{
                        width: 100%;
                        padding: 5px;
                        border: none;
                        border-bottom: 1px solid gray;
                        background-color: transparent;
                        color: white;
    
                        option {
                            color: white;
                            background-color: rgb(57, 57, 57);
                        }
                    }
                }
            }
        }
    

        .schedule{
            .days-container{
                background-color: rgb(42, 42, 42);
                .day{
                    &:hover{
                        background-color: rgb(52, 52, 52);
                    }
    
                    &.active{
                        background-color: rgb(52, 52, 52);
                    }
                }
            }
            .schedule-viewer-top{
                .activities-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: .5rem;
                    flex-wrap: wrap;

                    .activity{
                        background-color: rgb(62, 62, 62);
                        color:rgb(222, 222, 222);
                        padding: .2rem 1rem;
                        border-radius: 25px;
                        text-align: center;
                        font-weight: 700;
                    }
                }

                .update-activity{
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    cursor: pointer;
                    transition: all .2s ease-in-out;
                    background-color: rgb(42, 42, 42);
                    border-radius: 25px;
                    padding: .2rem 1rem;
                    color:#fff;  
                    font-weight: 700;


                    &:hover{
                        background-color: rgb(52, 52, 52);
                    }

                    .icon{
                        font-size: 1.5rem;
                        color: #fff;
                    }
                }

                input, select {
                    border: none;
                    border-radius: 5px;
                    background-color: rgb(52, 52, 52);
                    color: #fff;
                    font-size: 1rem;
                    padding: .5rem 1rem;
                }
            }
            .schedule-viewer-middle{
                textarea{
                    background-color: rgb(52, 52, 52);
                    color: #fff;
                }
            }
            .schedule-viewer-bottom{
                button{
                    background-color: rgb(42, 42, 42);
                    color: #fff;
                    border: none;
                    padding: .5rem 1rem;
                    border-radius: 5px;
                    font-weight: 700;
                    font-size: 1rem;
                    cursor: pointer;
                    transition: all .2s ease-in-out;

                    &:hover{
                        background-color: rgb(52, 52, 52);
                    }
                }

                .schedule-viewer-bottom-inputs{
                    .schedule-viewer-bottom-input{
                        label{
                            font-size: 1rem;
                            color: gray;
                        }
        
                        input{
                            border: none;
                            border-radius: 5px;
                            background-color: rgb(52, 52, 52);
                            color: #fff;
                            font-size: 1rem;
                            padding: .5rem 1rem;
                        }
                    }
                }
                
                .delete-schedule{
                    background-color: transparent;
                    color: rgb(232, 32, 32);
                    border: 1px solid rgb(232, 32, 32);

                    &:hover{
                        background-color: rgb(232, 32, 32);
                        color: #fff;
                    }
                }
            }
        }

        .update{
            .container{
                background-color: rgb(42, 42, 42);

                .header{
                    .icon{
                        color: #aaa;

                        &:hover{
                            color: #fff;
                        }
                    }
                }

                .body{
                    .form-group{
                        label{
                            color: #fff;
                        }
                        p{
                            color: #aaa;
                        }
                        textarea{
                            background-color: rgb(52, 52, 52);
                            color: #fff;
                        }
                        input[type="time"]{
                            background-color: rgb(52, 52, 52);
                            color: #fff;
                        }
                    }
                    button{
                        background-color: rgb(52, 52, 52);
                        color: #fff;

                        &:hover{
                            background-color: rgb(62, 62, 62);
                        }
                    }
                }
            }
        }
    }
}
