.sidebar{
     border-right: 0.5px solid rgb(223, 209, 209);
     height: 100vh;
     width: 20vh;
     background-color: rgb(255, 255, 255);
    .top{
       
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo{
            font-size: 20px;
            font-weight: bold;
            color:rgb(211, 0, 165);
 
        }

    }
    hr{
        height: 0;
        border:0.5px solid rgb(224, 220, 220);

    }
    .center{
        padding-left: 10px;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            .title{
                font-size: 12px;
                font-weight: bold;
                color: rgb(114, 112, 112);
                margin-top: 15px;
                margin-bottom: 15px;
            }
            li{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                
                &:hover{
                    background-color: pink;
                }
                .icon{
                    font-size: 18px;
                    color: rgb(211, 0, 165);
                }
                span{
                    font-size: 15px;
                    font-weight: 600;
                    color: #999;
                    margin-left: 15px;
                }
            }
        }
    }
    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;
        
        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid rgb(211, 0, 165);
            cursor: pointer;
            margin: 5px;
            &:nth-child(1){
                background-color: white;
            }
            &:nth-child(2){
                background-color: #333;

            }
        }
    }
}