.new{
    width: 100%;
    display: flex;
    .newContainer{
        flex: 6;
        .top,.bottom{
            -webkit-box-shadow: 0px 5px 10px 1px rgba(78, 78, 78, 0.3); 
             box-shadow: 0px 5px 10px 1px rgba(78, 78, 78, 0.3);
            margin: 20px;
            padding: 10px;
            display: flex;

            h1{
                color: rgb(0, 0, 0);
                font-size: 20px;
            }
            .right{
                flex:1;
                padding: 2em;

                form{
                  display: flex;  
                  flex-wrap: wrap;
                  gap: 4rem;
                  justify-content: space-around;
                  flex-direction: column;

                  .subsection {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height:auto;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap:1rem;

                    .input{
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
    
                        input{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                            background-color: transparent;
                            color: white;
                        }
                        input[type=date]{
                            color: black;
                            background-color: gray;
                            border-radius: 5px;
                            font-weight: 600;
                        }

                        select{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                            background-color: transparent;
                            color: white;
    
                            option {
                                color: white;
                                background-color: rgb(57, 57, 57);
                            }
                        }
                    }
                  }


                  button{
                    width: 100%;
                    padding: .5rem 1rem;
                    border: none;
                    background-color: #ee4681;
                    color: #fdf2f6;
                    font-weight: bold;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 1rem;

                    transition: all 300ms ease-in-out;
                    &:hover{
                        background-color: #f5a6c0;
                    }
                }
                }
            }
            
            .staffDetails{
                flex: 2;
                display: flex;
                padding: 2rem;
                
                form{
                    width: 30%;
                    display: flex;  
                    flex-direction: column;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: space-around;

                    .formInput{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
    
                        label{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
    
                        input{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                            background-color: transparent;
                            color: white;
                        }
                    }
    
                    .formSelect{
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
    
                        label{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
    
                        select{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                            background-color: transparent;
                            color: white;

                            option {
                                color: white;
                                background-color: rgb(57, 57, 57);
                            }
                        }
                    }

                    button{
                        width: 100%;
                        padding: .5rem 1rem;
                        border: none;
                        background-color: #ee4681;
                        color: #fdf2f6;
                        font-weight: bold;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 1rem;

                        transition: all 300ms ease-in-out;
                        &:hover{
                            background-color: #f5a6c0;
                        }
                    }
                }
            }
            
        }      
    }
}